@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2'),
        url('./fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Black.woff2') format('woff2'),
        url('./fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

body button {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.heading {
    font-size: 2rem;
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.books-container {
    display: flex;
    gap: 3rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.card {
    padding: 1.2rem;
    border: 2px solid gray;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: bisque;
    font-size: 1.2rem;
    font-weight: 600;
}

dialog {
    padding: 1.3rem;
    border: none;
    border-radius: 0.7rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.close-btn, .add-btn {
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.4rem 0.7rem;
    font-weight: bold;
    cursor: pointer;
}

.close-btn {
    background-color: #E7E7E7;
    color: #555555;
    margin-left: 0.5rem;
}

.close-btn:hover {
    background-color: #d4d4d4;
}

.add-btn {
    background-color: #28A745;
    color: white;
}

.add-btn:hover {
    background-color: #24943e;
}

.dialog-btns {
    align-self: flex-end;
    margin-top: 1rem;
}

.new-btn {
    margin: 1.5rem 0 0 2rem;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    background-color: rgb(0, 162, 255);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.new-btn:hover {
    background-color: rgb(0, 187, 255);
    color: white;
}

.book-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-row {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.book-form input {
    height: 1.1rem;
    padding: 0.8rem 0.4rem;
    font-size: 1.1rem;
}

.remove-btn {
    border: none;
    padding: 0.4rem 0.8rem;
    background-color: rgb(255, 72, 72);
    color: white;
    align-self: flex-end;
    margin-top: 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: red;
}

.toggle-btn {
    padding: 0.7rem;
    border: none;
    margin-top: 1rem;
    align-self: center;
    border-radius: 0.8rem;
    background-color: rgb(25, 205, 148);
    color: white;
    cursor: pointer;
}

.toggle-btn:hover {
    background-color: rgb(24, 187, 135);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
}